/* width and height example */
div {
  width: 200px;
  height: 200px;
  background-color: bisque;
}
h1 {
  background-color: rgb(165, 207, 245);
  padding-left: 200px;
  padding-top: 100px;
}

/* border-width controls the thickness of the border */
/* border-color controls the color of the border */
/* border-style changes the line style (dashed, dotted, etc.) */
#one {
  background-color: #ffadad;
  border-width: 5px;
  border-color: #704848;
  border-style: solid;
  box-sizing: border-box;
}

#two {
  background-color: #ffd6a5;
  border-width: 3px;
  border-color: #e79f46;
  border-style: dotted;
  box-sizing: border-box;
}
/* when setting border all in one entry it is width/style/color*/
#three {
  background-color: #fdffb6;
  border: 4px solid #caffbf;
  border-radius: 50%;
  /* 50% radius all around creates a circle. the text will not be in the circle though */
}

button {
  /* vertical/ horizontal */
  padding: 10px 20px;
}
